    {% for info in app.flashes('info') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong class="mr-auto">Informations </strong>
                
                {{ info | split('|')[0] }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for info in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong class="mr-auto">Informations </strong>
                
                {{ info | split('|')[0] }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for info in app.flashes('warning') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong class="mr-auto">Informations </strong>
                
                {{ info | split('|')[0] }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
